body {
	background-color:#000000;
	margin: 5%;
	color: aliceblue;
}

#tips {								/*Tips natigator*/
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 20%;
	height: 100vh;
	border: 0px;
	border-left: 1px solid #FFFFFF;
}

.paraName {  						 /*parameter of the synthesizer*/
	font-weight: 400;
	font-size: 20px;
}


.fader {					/*fader of the synthesizer*/
	border: 3px single #fff;
	width: 80%;
}

.synthesizer {
	width: 66%;
	left: 3%;
	top: 8%;
	right: 25%;
	bottom: 8%;
	padding: 3%;
	background-color: #524E4E;
	position: absolute;
	
}
